In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 3 columns):
imie              108 non-null object
nazwisko          108 non-null object
data_urodzenia    108 non-null object
dtypes: object(3)
memory usage: 2.7+ KB

In [5]:
df['data_urodzenia'] = pd.to_datetime(df['data_urodzenia'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 3 columns):
imie              108 non-null object
nazwisko          108 non-null object
data_urodzenia    108 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 2.7+ KB

In [8]:
startdate = '1999-12-31'

In [9]:
filtr = df['data_urodzenia']>startdate

In [10]:
df.loc[filtr]

         imie    nazwisko data_urodzenia
81   Krystyna   Polkowiak     2000-06-03
82     Wiktor     Proszak     2000-06-14
83    Andrzej       Robek     2000-09-22
84   Zbigniew       Rudak     2000-12-31
85    Barbara    Sadurski     2001-10-04
86      Marek       Sawek     2001-07-19
87     Robert       Sulik     2001-10-27
88   Zbigniew       Sulik     2002-04-02
89     Robert  Sulikowski     2002-05-15
90     Robert       Surma     2002-08-23
91     Robert      Surmak     2002-01-12
92     Wiktor      Suwald     2003-11-03
93     Michal      Szerka     2003-06-19
94    Tadeusz      Tomora     2003-09-27
95   Zbigniew    Trewirek     2004-05-01
96   Zbigniew  Twardzioch     2004-04-14
97    Andrzej  Twarnowski     2004-07-23
98    Tadeusz    Twomicki     2004-10-31
99     Michal      Wertyk     2005-08-02
100     Rafal       Wobek     2005-05-19
101   Tadeusz       Womor     2005-08-27
102    Robert      Wyszon     2005-05-12
103    Robert       Zamek     2006-03-15
104    Wiktor     Zamlcki     2006-06-23
105   Tadeusz    Zomornik     2006-01-10
106    Edward  Zeligowski     2007-09-01
107  Zbigniew  Zeligowski     2007-04-19

In [16]:
#imiona zenskie
maska = df['imie'].str[-1:]=='a'

In [20]:
df.loc[maska, 'imie'].drop_duplicates()

0       Jadwiga
8       Liliana
9     Katarzyna
19      Barbara
21       Kalina
22      Jolanta
32      Pelagia
68          Ewa
76     Krystyna
79       Elwira
Name: imie, dtype: object